In [3]:
import pandas as pd
df = pd.read_csv("datasets/depression_dataset.csv")

In [4]:
df

,AGERNG,GENDER,EDU,PROF,MARSTS,RESDPL,LIVWTH,ENVSAT,POSSAT,FINSTR,...,ANXI,DEPRI,ABUSED,CHEAT,THREAT,SUICIDE,INFER,CONFLICT,LOST,DEPRESSED
0,26-30,Female,Post Graduate,Unemployed,Unmarried,Town,With Family,Yes,Yes,No,...,Yes,No,No,No,No,No,No,Yes,No,0
1,26-30,Male,Post Graduate,Service holder (Private),Unmarried,City,With Family,Yes,No,Yes,...,Yes,Yes,Yes,No,No,No,Yes,No,No,1
2,21-25,Male,HSC,Student,Unmarried,City,With Family,Yes,Yes,No,...,Yes,Yes,No,No,No,No,No,No,No,0
3,16-20,Male,HSC,Student,Unmarried,City,With Family,No,Yes,No,...,Yes,Yes,No,Yes,No,No,No,No,No,1
4,21-25,Male,Graduate,Student,Unmarried,Town,With Family,No,Yes,Yes,...,Yes,Yes,No,No,No,No,Yes,Yes,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,26-30,Male,Graduate,Service holder (Private),Unmarried,City,With Family,No,Yes,Yes,...,No,Yes,No,No,No,No,No,No,Yes,1
600,26-30,Male,Post Graduate,Service holder (Private),Unmarried,City,With Family,No,No,Yes,...,Yes,Yes,Yes,No,No,No,Yes,No,No,1
601,21-25,Male,Graduate,Student,Married,Village,With Family,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,1
602,21-25,Male,Graduate,Other,Unmarried,City,With Family,Yes,Yes,No,...,Yes,No,No,No,No,No,Yes,No,No,0
603,26-30,Male,Post Graduate,Student,Unmarried,City,Without Family,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,Yes,0

In [6]:
df.iloc[0,1]

'Female'